<!DOCTYPE html>
<html>
<head>
    <title>Приглашение!</title>
</head>
<body>
<h1>Вас пригласили присоединиться к проекту {{projectName}} в роли {{role}}</h1>
<p>Нажмите на ссылку ниже, чтобы принять приглашение:</p>
<a href="{{url}}">Принять приглашение</a>
</body>
</html>